<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.ShoesElectro"
        tools:targetApi="31">
        <activity
            android:name=".Listview"
            android:exported="false" />
        <activity
            android:name=".Spinner"
            android:exported="false" />
        <activity
            android:name=".Datos"
            android:exported="false" />
        <activity
            android:name=".registro"
            android:exported="false" />
        <activity
            android:name=".login"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".kit"
            android:exported="false" />
        <activity
            android:name=".liescolar"
            android:exported="false" />
        <activity
            android:name=".lisOficina"
            android:exported="false" />
        <activity
            android:name=".litrabajo"
            android:exported="false"
            android:label="@string/title_activity_litrabajo"
            android:theme="@style/Theme.ShoesElectro.NoActionBar" />
        <activity
            android:name=".lihogar"
            android:exported="false"
            android:label="@string/title_activity_lihogar"
            android:theme="@style/Theme.ShoesElectro.NoActionBar" />
        <activity
            android:name=".MainActivity"
            android:exported="false"
            android:label="@string/app_name"
            android:theme="@style/Theme.ShoesElectro.NoActionBar" />
    </application>

</manifest>